@import './theme.css';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

strong {
  font-weight: 700;
}

.v-card {
  border-radius: 18px !important;
}

.v-field--variant-outlined .v-field__outline__start,
.v-field--variant-outlined .v-field__outline__end,
.v-field--variant-outlined .v-field__outline__notch {
  border-color: rgba(18, 52, 77, 0.22) !important;
}
